
/* میپ کا ڈارک اور گولڈن فلٹر */

.leaflet-container {

  background: #050505 !important;

}



.leaflet-tile-container img {

  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%) sepia(100%) saturate(200%) hue-rotate(10deg) !important;

}



/* کارڈ کا چمکنے والا اثر (Shine Effect) */

.golden-card {

  background: linear-gradient(135deg, #0a0a0a 0%, #1a1a1a 100%);

  border: 1.5px solid rgba(255, 215, 0, 0.4);

}



.golden-card::before {

  content: "";

  position: absolute;

  top: 0; left: -100%; width: 50%; height: 100%;

  background: linear-gradient(to right, transparent, rgba(255, 215, 0, 0.1), transparent);

  transform: skewX(-25deg);

  animation: card-shine 6s infinite ease-in-out;

}



@keyframes card-shine {

  100% { left: 200%; }

}

